{:paths     ["src"]

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}

 :deps      {org.clojure/clojure                 {:mvn/version "1.10.2"}
             io.cucumber/gherkin                 {:mvn/version "32.1.1"}
             io.cucumber/cucumber-expressions    {:mvn/version "20.1.0"}
             ;; 6.1.2 est la dernière version sans dépendance transitive : les
             ;; 9.x/11.x tirent jspecify, et 11.0.1 avec une plage de versions
             io.cucumber/tag-expressions         {:mvn/version "6.1.2"}
             org.clojure/tools.namespace         {:mvn/version "0.3.1"}}

 :aliases   {:artifact-name {:extra-deps {metav/metav {:git/url "https://github.com/jgrodziski/metav/"
                                                       :sha     "83dbd1fba42e868783a93c1e58b2a4d3c2a5055b"}}
                             :main-opts  ["-m" "metav.display"]}
             :release       {:extra-deps {metav/metav {:git/url "https://github.com/jgrodziski/metav/"
                                                       :sha     "83dbd1fba42e868783a93c1e58b2a4d3c2a5055b"}}
                             :main-opts  ["-m" "metav.release"]}
             :dev           {}
             :build         {:extra-deps  {slipset/deps-deploy           {:mvn/version "0.2.5"}
                                           io.github.clojure/tools.build {:git/tag "v0.10.14" :git/sha "9d08b2a"}}
                             :extra-paths ["script" "src"]
                             :ns-default  build}

             :test          {:extra-paths ["test"]
                             ;; Kaocha is not a dependency of the library: who runs its
                             ;; features under Kaocha declares it, as here
                             :extra-deps  {lambdaisland/kaocha           {:mvn/version "1.87.1366"}
                                           org.clojure/test.check        {:mvn/version "1.1.0"}
                                           metosin/testit                {:mvn/version "0.4.0"}
                                           lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}}}
             :runner        {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                                     :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}}
                             :main-opts  ["-m" "cognitect.test-runner" "-d" "test"]}}}
